<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-4 mb-2" *ngFor="let dolar of dolares">
      <div class="card" style="width: 20rem;" >
        <div class="card-body bg-primary">
          <h4 class="card-title">{{dolar.casa.nombre}}</h4>
          <h6 class="card-subtitle mb-2 ">Agencia: {{dolar.casa.agencia}}</h6>
          <li class="card-text ms-1">Precio venta: {{dolar.casa.venta}} $</li>
          <li class="card-text ms-1">Precio compra: {{dolar.casa.compra}} $</li>

        </div>
      </div>
    </div>
  </div>
</div>
